<div class="choice">
	<div class="choice-container">
		<div><span>Choose an option</span></div>
		<div class="option paper" (click)="selectChoice('paper')"><img src="../../../assets/images/icon-paper.svg"
				alt="icon-paper"></div>
		<div class="option scissors" (click)="selectChoice('scissors')"><img src="../../../assets/images/icon-scissors.svg"
				alt="icon-scissors">
		</div>
		<div class="option rock" (click)="selectChoice('rock')"><img src="../../../assets/images/icon-rock.svg"
				alt="icon-rock">
		</div>
	</div>
</div>